.user-menu__ul{
  padding: 8px 0 16px;
  width: 300px;
  max-width: 300px;

  li{
    padding: 12px 24px;
    width: 100%;
    cursor: pointer;
    transition: all .15s ease;
    align-items: center;

    &:hover{
      background-color: #0070f3;
    }
  }
}

.user-menu-close{
  display: flex;
  justify-content: space-between;
  .img-close{
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill .2s cubic-bezier(.4, 0, .2, 1) 0ms;

  }
}