.main-category{
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  overflow: hidden;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;

  .category__mas{
	display: flex;
	gap: 10px;
	padding: 12px 24px;

	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: smooth;
  }

  .category__mas::-webkit-scrollbar{
	display: none;
  }

  .category-button__left,
  .category-button__right{
	position: absolute;
	height: 100%;
	width: 70px;
	top: 0;
	display: none;
	align-items: center;
	padding: 0 10px;
  }

  .image-active{
	display: flex;
  }

  .category-button__right{
	right: 0;
	background: linear-gradient(to left, var(--page-bg) 50%, transparent);
	justify-content: flex-end;
  }

  .category-button__left{
	left: 0;
	background: linear-gradient(to right, var(--page-bg) 50%, transparent);
	justify-content: flex-start;
  }

  .category__image{
	width: 24px;
	height: 24px;
	padding: 8px;
	cursor: pointer;
	border-radius: 50%;
	background: var(--dark-border);
  }

  .category__item{
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	background: var(--dark-bg);
	color: var(--white);
	padding: 5px 25px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 10px;
	transition: all 500ms ease;

	user-select: none;
	white-space: nowrap;

	&:hover{
	  border-color: silver;
	  //transform: scale(1.1);
	}
  }

  .active{
	background: var(--white);
	color: var(--blackpure);
  }
}
