.main-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-gap: 10px;
  justify-content: center;
  margin: 10px 2px;

  .item{
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0,0,0, 0.4);

    h2{
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      margin: 5px;
    }

    p{
      margin: 10px 20px 20px 20px;
    }

    img{
      margin: 10px 20px;
    }

    .item__cost{
      text-align: left;
      margin: 10px 20px;
    }

    .item__cost b{
      font-size: 24px;
      font-weight: 700;
      position: relative;
      padding-right: 20px;
    }

    .item__cost b::after{
      content: '₽';

      display: block;
      position: absolute;
      bottom: 0;
      right: 3px;

      font-weight: 300;
      font-size: 0.8em;
    }

    .item-img{
      display: flex;
      justify-content: center;

      img{
        width: 300px;
        height: 300px;
        border: 1px solid black;
      }
    }
  }

  .add-to-cart{
    button{
      width: 100%;
      min-width: auto;

      display: flex;
      align-items: flex-end;
      justify-content: center;

      border: 2px solid #000;
      background-color: var(--page-bg);
      padding: 10px;

      font-size: 1em;
      font-weight: 600;

      transition: transform 500ms ease;
      transform: scale(1.05);

      &:hover{
        background-color: var(--page-bg);
        transform: scale(0.9) translateY(-5px);
      }
    }
  }
}

.item-container{
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  .item-l{
    width: 50%;

    .item-img{
      width: 100%;

      img{
        width: 80%;
        height: auto;
        border-radius: 10px;
      }
    }
  }

  .item-r{
    width: 50%;
    padding: 0 20px;

    .item-title {
      text-align: center;
      margin-top: 10px;

      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.25;
    }

    .item-desc {
      margin-top: 10px;
      font-size: 24px;
    }

    .item-price {
      flex: 1;
      margin-top: 10px;
      font-size: 24px;
      font-weight: bold;
    }

    .item-add{
      display: flex;
      justify-content: right;
      margin-top: 20px;

      button{
        width: 100%;
        max-width: 250px;
        min-width: auto;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        border: 2px solid #000;
        background-color: black;
        padding: 10px;

        &:hover{
          background-color: var(--page-bg);
        }
      }

      .item-btn__add{
        cursor: pointer;
        font-size: 24px;
        height: 35px;
        width: 35px;
      }
    }
  }
}

