.sidebar-container {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;

  max-width: 350px;
  min-height: 800px;
  background-color: var(--dark-bg);
  color: var(--header-text);
  padding: 20px 0 20px 20px;
  box-sizing: border-box;

  h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
  }

  li {
    text-transform: uppercase;
    margin-bottom: 8px;
    cursor: pointer;

    &:hover {
      color: #000;
      font-weight: bold;
    }
  }
}